# Git

# macOS
.DS_Store

# Node
**/node_modules
**/npm-debug.log*
**/yarn-error.log*

# Runtime/local logs
**/*.log

# Env / secrets
**/.env
**/.env.*

# Python
**/.venv
**/__pycache__
**/*.pyc

# Editor
.vscode
.idea

# Build/cache
**/.cache
**/dist
**/build
